﻿
@{
    ViewData["Title"] = "Delegate";
    Layout = "~/Views/Shared/_LayoutKeywest.cshtml";
}


<section class="content">

    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
            <div class="box">
                <div class="box-body">
                    <h2>Delegate</h2>
                </div>
            </div>
        </div>
    </div>

</section>


