﻿
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_LayoutKeywest.cshtml";
}

<section class="content">

    <div class="box">
        <div class="box-header with-border">
            <h6 class="box-subtitle">User Profile</h6>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-12">

                    <h2>UserProfile</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h6 class="box-subtitle">User Profile</h6>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-slide rotate-180" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body" style="display:none;">
            <div class="row">
                <div class="col-12">

                    <h2>UserProfile</h2>
                    class-> rotate-180 and style-> display:none (to collapse box body)

                </div>
            </div>
        </div>
    </div>

</section>


