.u-section-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 40px}
.u-section-1 .u-btn-1 {border-style: none none solid; font-size: 0.75rem; background-image: none; margin: 9px 0 0 auto; padding: 0}.u-section-2 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-2 .u-sheet-1 {min-height: 600px}
.u-section-2 .u-tabs-1 {min-height: 500px; margin: 20px 0 0}
.u-section-2 .u-tab-link-1 {background-image: none; font-size: 0.75rem; text-transform: uppercase}
.u-section-2 .u-tab-link-2 {background-image: none; font-size: 0.75rem; text-transform: uppercase}
.u-section-2 .u-tab-link-3 {background-image: none; font-size: 0.75rem; text-transform: uppercase}
.u-section-2 .u-tab-item-4 {margin-bottom: 0}
.u-section-2 .u-tab-link-4 {background-image: none; font-size: 0.75rem; text-transform: uppercase}
.u-section-2 .u-tab-pane-1 {background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-tab-pane-2 {background-image: none}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-tab-pane-3 {background-image: none}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-tab-pane-4 {background-image: none}
.u-section-2 .u-container-layout-4 {padding: 30px} 

@media (max-width: 1199px){ .u-section-2 .u-tabs-1 {height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }