@media only screen and (min-width: 1201px) and (max-width: 1349px) {

    .main-nav .navbar-nav .nav-item .nav-link {
        padding-right: 7px;
        padding-left: 7px;
        font-size: 14px;
    }

    [type="checkbox"] + label {
        padding-left: 25px;
        margin-left: 5px !important;
    }
    
    .table-responsive {
        position: relative;
        z-index: 1;
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {

    .main-nav .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .todo-list > li {
        padding: 1rem .5rem;
    }

    [type="checkbox"] + label {
        padding-left: 20px;
        margin-left: 0 !important;
    }

    .navbar-nav .nav-item .nav-link i img {
        height: 22px;
        object-fit: contain;
    }
    
    .table-responsive {
        position: relative;
        z-index: 1;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1100px) {

    .main-nav .navbar-nav .nav-item .nav-link {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .padding-md-none {
        padding-left: 0px;
    }

    .todo-list > li {
        padding: 1rem .5rem;
    }

    [type="checkbox"] + label {
        padding-left: 20px;
        margin-left: 0 !important;
    }

    .navbar-nav .nav-item .nav-link i img {
        height: 22px;
        object-fit: contain;
    }
    
    .table-responsive {
        position: relative;
        z-index: 1;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .main-nav .navbar-nav .nav-item .nav-link {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navbar-collapse {
        padding-right: .9375rem;
        padding-left: 5%;
    }

    .padding-md-none {
        padding-left: 0px;
    }

    .navbar-custom-menu .navbar-nav {
        flex-flow: nowrap;
    }

    .todo-list > li {
        padding: 1rem .5rem;
    }

    [type="checkbox"] + label {
        padding-left: 20px;
        margin-left: 0 !important;
    }

    .navbar-nav .nav-item .nav-link i img {
        height: 22px;
        object-fit: contain;
    }
    
    .table-responsive {
        position: relative;
        z-index: 1;
    }

}

@media only screen and (max-width: 991px) {

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
    }

    .navbar-nav .nav-item .nav-link i {
        width: 19px;
    }

    .navbar-nav .nav-item .nav-link i img {
        height: 20px;
        object-fit: contain;
        margin-left: -2px;
    }

    .main-nav .navbar-nav .nav-item .nav-link {
        line-height: inherit;
        padding-right: 5px;
        padding-left: 10px;
        text-transform: capitalize;
        font-size: 14px;
    }

    .main-nav .navbar-nav .nav-item .dropdown-menu.multilevel .nav-item .nav-link {
        font-size: 12px;
    }

    .table .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu {
        top: 100%;
        left: 0 !important;
        margin-top: -1px;
        min-width: 11.5rem;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .table .dropdown .dropdown-menu {
        min-width: 11.5rem;
        height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .nav-tabs .nav-link {
        padding: 0.5rem 0.75rem;
    }

    .pro-sel {
        text-align: center;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-lg-5 .form-group label {
        padding-left: 0px;
    }

    .rightside-pannel .remoteblock ul {
        padding-left: 6px;
    }

    .content-wrapper {
        padding-bottom: 10px;
    }

    .table-responsive {
        position: relative;
        z-index: 1;
    }

}

@media only screen and (max-width: 767px) {
    .sitesetting-mainblock .leftside-pannel {
        max-width: 100%;
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }

    .rightside-pannel {
        max-width: 100%;
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }

    .wrapper {
        position: inherit;
    }

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: column;
    }

    .content-header .project-dash-span {
        margin: 10px 0px;
    }

    .table .dropdown .dropdown-menu {
        min-width: 11.5rem;
        height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .js-center {
        justify-content: center;
    }

    .project-dash-span {
        width: 100%;
    }

    .pro-sel {
        text-align: center;
        padding: 0;
    }

    .layout-top-nav .content-wrapper {
        margin-top: 60px;
    }

    .navbar-expand-lg {
        margin-top: 10px;
    }

    .skin-blue .content-header {
        background: #fff;
        margin-left: 15px;
        margin-right: 15px;
    }

    .content {
        min-height: 250px;
        padding: 30px 15px 0px 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .col-lg-5 .form-group label {
        padding-left: 0px;
    }

    .mt-xs-5 {
        margin-top: 40px;
    }

    .paging_numbers {
        text-align: center;
        float: none;
    }

    .paging_numbers ul.pagination {
        justify-content: center;
    }

    .rightside-pannel .remoteblock ul {
        padding-left: 15px;
    }

    .content-wrapper {
        padding-bottom: 10px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .main-header .sidebar-toggle {
        padding: 16px 10px;
    }

    .navbar-custom-menu .navbar-nav li > a.dropdown-toggle,
    .navbar-custom-menu .navbar-nav > li:last-child > a,
    .navbar-custom-menu .navbar-nav > .search-box > a {
        padding: 0px 10px;
    }

}

@media only screen and (max-width: 575px) {

    .navbar-expand-lg {
        margin-top: 100px;
    }

    .layout-top-nav .content-wrapper {
        margin-top: 155px;
    }

    .pro-sel {
        text-align: center;
        padding: 5px 0;
    }

    .check-1 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 548px) {

    .rightside-pannel .remoteblock {
        flex-flow: column;
        align-items: flex-start;
    }

    .rightside-pannel .remoteblock ul {
        padding-left: 0;
    }

}

@media only screen and (max-width: 480px) {

    [type="checkbox"] + label {
        padding-left: 20px;
        margin-left: 0 !important;
    }

}
