﻿
@model Keywest.Models.UserEntity

@{
    ViewData["Title"] = "User Settings";
    Layout = "~/Views/Shared/_LayoutKeywest.cshtml";
}

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h6 class="box-subtitle">Summary</h6>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr class="white-space-nowrap">
                                    <th>
                                        Image
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        ID*
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Contact
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        First Name*
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Last Name
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Company
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        License Type*
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Named License*
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Group Name*
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Password
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Email
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Company
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Group Name*
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                </tr>
                                @Html.Raw(Model.TableData)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h6 class="box-subtitle">User Settings</h6>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col">
                    <form asp-action="UserSettings" id="InputForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-12 col-md-8 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>User Id <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="Id" type="text" class="form-control" />
                                                <span asp-validation-for="Id" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> User Contact <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="Contact" type="text" class="form-control" />
                                                <span asp-validation-for="Contact" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="FirstName" type="text" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Last Name <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="LastName" type="text" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Company Name<span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <select asp-for="CompanyId" asp-items="@Model.CompanyList" class="form-control"></select>
                                                @*<select asp-for="CompanyId" name="select" id="" class="form-control">
                                                        <option value="1">Company 1</option>
                                                        <option value="2">Company 2</option>
                                                    </select>*@
                                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>License Type <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <select asp-for="LicenseTypeId" asp-items="@Model.LicenseTypeList" class="form-control"></select>
                                                @*<select asp-for="LicenseTypeId" name="select" id="" class="form-control">
                                                        <option value="1">Full</option>
                                                        <option value="2">Guest</option>
                                                    </select>*@
                                                <span asp-validation-for="LicenseTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Named License <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <select asp-for="NamedLicenseId" asp-items="@Model.NamedLicenseList" class="form-control"></select>
                                                @*<select asp-for="NamedLicenseId" name="select" id="" class="form-control">
                                                        <option value="1"> Named </option>
                                                        <option value="2"> Concurrent </option>
                                                    </select>*@
                                                <span asp-validation-for="LicenseTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Group Name <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                @*@Html.DropDownListFor(m => m.GroupNameId, Model.GroupNameList, new { @class = "form-control" })*@
                                                <select asp-for="GroupNameId" asp-items="@Model.GroupNameList" class="form-control"></select>
                                                @*<select asp-for="GroupNameId" asp-items="Model.GroupNameList" name="select" id="" class="form-control">
                                                        <option value="1"> Group Name 1 </option>
                                                        <option value="2"> Group Name 2 </option>
                                                    </select>*@
                                                <span asp-validation-for="GroupNameId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Password <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <input asp-for="Password" type="text" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Email <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="Email" type="tel" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Image <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="Image" type="tel" class="form-control" />
                                                <span asp-validation-for="Image" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-12 col-12">
                            <div class="text-right bt-1 pt-10">
                                @*<a title="Add" href="#myadd" class="btn btn-info trigger-btn" data-toggle="modal" onclick="SubmitData();">Add</a>*@
                                <button type="button" class="btn btn-info trigger-btn" id="submitBtn" onclick="SubmitData();">
                                    Create
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    //$(document).ready(function () {
    //    console.log("ready!");
    //    GetSearchResult();
    //});

    console.log("ready!");

    //GetSearchResult();

    function SubmitData() {
        var errorMsg = '';
        //alert();
        if ($("#Contact").val() == "" || $("#Contact").val() == null) {
            alert("Contact is empty!");
        }
        else if ($("#FirstName").val() == "" || $("#FirstName").val() == null) {
            alert("First name is empty!");
        }
        else if ($("#LastName").val() == "" || $("#LastName").val() == null) {
            alert("Last name is empty!");
        }
        else if ($("#CompanyId").val() == "-1" || $("#CompanyId").val() == "" || $("#CompanyId").val() == null) {
            alert("Company name is empty!");
        }
        else if ($("#Password").val() == "" || $("#Password").val() == null) {
            alert("Password is empty!");
        }
        else {
            $.post("/Settings/AddUpdateUserSettings", $("#InputForm").serialize(), function (data) {
                console.log(data);
                if (data.success) {
                    alert(data.message);
                    //alert("Data saved successfully.");
                    //GetSerchResult();
                    location.href = "/Settings/UserSettings/";
                }
                else {
                    alert(data.message);
                }
            });
        }
    }

    function GetSearchResult() {
        //alert("ready!");
        $.post("/Settings/GetAllUsersList", $("#InputForm").serialize(), function (data) {
            //$("#tb_Container").html(data.TableData);
        });
    }

</script>

