﻿@model Keywest.Models.UserEntity

@{
    ViewData["Title"] = "UserSettings1";
    Layout = "~/Views/Shared/_LayoutKeywest.cshtml";
}

<h2>UserSettings1</h2>

<h4>UserEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserSettings1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseTypeId" class="control-label"></label>
                <input asp-for="LicenseTypeId" class="form-control" />
                <span asp-validation-for="LicenseTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamedLicenseId" class="control-label"></label>
                <input asp-for="NamedLicenseId" class="form-control" />
                <span asp-validation-for="NamedLicenseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupNameId" class="control-label"></label>
                <input asp-for="GroupNameId" class="form-control" />
                <span asp-validation-for="GroupNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

