﻿
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_LayoutKeywest.cshtml";
}

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h6 class="box-subtitle">Summary</h6>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr class="white-space-nowrap">
                                    <th>
                                        Program
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Project Name
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Records #
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Project Status
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Type
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Category
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Manager
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        City
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Target Budget
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Target Duration
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Target Start
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Target Finish
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Percent Complete
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Percent Complete
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th>
                                        Inactive
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Sort Ascending</a></li>
                                                <li><a class="dropdown-item" href="#">Sort Descending</a></li>
                                                <li><a class="dropdown-item" href="#">Clear Sorting</a></li>
                                                <li><a class="dropdown-item" href="#">Group By</a></li>
                                                <li><a class="dropdown-item" href="#">Ungroup</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-submenu right-drop">
                                                    <a class="test dropdown-item" href="#" onclick="myFunction()">Customize <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Type
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <label class="check01">
                                                                Revision #
                                                                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>

                            </thead>

                            <tbody>

                                <tr>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>
                                    <td>
                                        <div class="input-group"><input type="text" name="onlyNum" class="form-control"> <span class="input-group-addon"><i class="fas fa-filter"></i></span></div>
                                    </td>

                                </tr>

                                <tr>
                                    <td> PG034-005 Town </td>
                                    <td> PG034-005 </td>
                                    <td> 21-14 </td>
                                    <td> Hot Oil Package </td>
                                    <td> Approved </td>
                                    <td> 01 - Major Equipment </td>
                                    <td> Purchase Order </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td><input type="checkbox" name="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> PG034-005 Town </td>
                                    <td> PG034-005 </td>
                                    <td> 21-14 </td>
                                    <td> Hot Oil Package </td>
                                    <td> Approved </td>
                                    <td> 01 - Major Equipment </td>
                                    <td> Purchase Order </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td><input type="checkbox" name="checkbox"></td>
                                </tr>
                                <tr>
                                    <td> PG034-005 Town </td>
                                    <td> PG034-005 </td>
                                    <td> 21-14 </td>
                                    <td> Hot Oil Package </td>
                                    <td> Approved </td>
                                    <td> 01 - Major Equipment </td>
                                    <td> Purchase Order </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td> 0 </td>
                                    <td><input type="checkbox" name="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table -->
                    <div class="col-sm-12 col-md-12">
                        <div class="paging_numbers">
                            <ul class="pagination">
                                <li class="page-item previous disabled">
                                    <a href="#" class="page-link">Previous</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item next">
                                    <a href="#" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- 12 -->

                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h6 class="box-subtitle">Project</h6>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col">
                    <form novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Program <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Project ID <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Name <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Project Status <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Group <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Category <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Status <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label> Revision <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" name="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-12">
                            <div class="text-right bt-1 pt-10">
                                <a title="Add" href="#myadd" class="btn btn-info trigger-btn" data-toggle="modal">Add Program</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
