﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutKeywest.cshtml";
}


<section class="content">

    <div class="row">

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="box">
                <div class="box-body">
                    <div class="flexbox">
                        <h5>Total Project Documentation</h5>
                    </div>

                    <div class="text-left my-2">
                        <div class="font-size-30 mb-15">5,600 <small class="font-size-14 text-success"><i class="fa fa-arrow-up"></i></small></div>

                    </div>
                    <div style="display:block;background-color:#c4632f;padding: 10px;">
                        <p style="margin-bottom:0px;text-align:center;color:#fff"> 5000 DWG | 100 DST | 500 OTHER </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="box">
                <div class="box-body">
                    <div class="flexbox">
                        <h5>RFQ</h5>
                    </div>

                    <div class="text-left my-2">
                        <div class="font-size-30 mb-15">200 <small class="font-size-14 text-success"><i class="fa fa-arrow-up"></i></small></div>

                    </div>
                    <div style="display:block;background-color:#5f865f;padding: 10px;">
                        <p style="margin-bottom:0px;text-align:center;color:#fff"> 150 CLIENT | 50 OTHER </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="box">
                <div class="box-body">
                    <div class="flexbox">
                        <h5>Cost Report</h5>
                    </div>
                    <div class="text-left my-2">
                        <div class="font-size-30 mb-15">1,500 <small class="font-size-14 text-success"><i class="fa fa-arrow-up"></i></small></div>

                    </div>
                    <div style="display:block;background-color:#c4632f;padding: 10px;">
                        <p style="margin-bottom:0px;text-align:center;color:#fff"> 7 MECH | 8 E&IC </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-lg-8">
            <!-- AREA CHART -->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Project Status</h4>

                    <ul class="box-controls pull-right">
                        <!--<li><a class="box-btn-close" href="#"></a></li>
                        <li><a class="box-btn-slide" href="#"></a></li>
                        <li><a class="box-btn-fullscreen" href="#"></a></li>-->
                    </ul>
                </div>
                <div class="box-body chart-responsive">
                    <div class="flexbox">
                        <div>
                            <button type="button" class="btn btn-sm btn-rounded btn-primary mr-10 mb-5">Last Year</button>
                            <button type="button" class="btn btn-sm btn-rounded btn-outline btn-success mr-10 mb-5">Last Month</button>
                            <button type="button" class="btn btn-sm btn-rounded btn-outline btn-danger mr-10 mb-5">Last Week</button>
                        </div>
                        <div>
                            <span class="mr-5"><span class="badge badge-ring badge-primary mr-5"></span>Direct</span>
                            <span class="mr-5"><span class="badge badge-ring badge-info mr-5"></span>Referrals</span>
                            <span class="mr-5"><span class="badge badge-ring badge-danger mr-5"></span>Search</span>
                            <span class="mr-5"><span class="badge badge-ring badge-warning mr-5"></span>Social</span>
                        </div>
                    </div>

                    <div class="chart" id="morris_extra_line_chart" style="height: 287px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <svg height="287" version="1.1" width="809.359" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.21875px; top: -0.875px;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <text x="33.234375" y="245" text-anchor="end" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <text x="33.234375" y="190" text-anchor="end" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan>
                            </text>
                            <text x="33.234375" y="135" text-anchor="end" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">150</tspan>
                            </text>
                            <text x="33.234375" y="80" text-anchor="end" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">225</tspan>
                            </text>
                            <text x="33.234375" y="25.00000000000003" text-anchor="end" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal">
                                <tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">300</tspan>
                            </text>
                            <text x="784.359" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016</tspan>
                            </text>
                            <text x="661.311082097216" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015</tspan>
                            </text>
                            <text x="538.2631641944317" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2014</tspan>
                            </text>
                            <text x="415.21524629164765" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan>
                            </text>
                            <text x="291.83021080556824" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                            </text>
                            <text x="168.78229290278412" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan>
                            </text>
                            <text x="45.734375" y="257.5" text-anchor="middle" font-family="Open Sans" font-size="12px" stroke="none" fill="#878787" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,8.5)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan>
                            </text>
                            <path fill="none" stroke="#ff9149" d="M45.734375,230.33333333333334C76.49635447569602,219.33333333333334,138.0203134270881,190.91666666666669,168.78229290278412,186.33333333333334C199.54427237848014,181.75,261.0682313298722,199.1591427268582,291.83021080556824,193.66666666666669C322.6764696770881,188.1591427268582,384.3689874201278,148.75877792977658,415.21524629164765,142.33333333333334C445.97722576734367,135.92544459644324,507.5011847187357,136.83333333333334,538.2631641944317,142.33333333333334C569.0251436701278,147.83333333333334,630.5491026215199,191.83333333333334,661.311082097216,186.33333333333334C692.0730615729119,180.83333333333334,753.5970205243041,120.33333333333334,784.359,98.33333333333334" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#ff4961" d="M45.734375,179C76.49635447569602,160.66666666666669,138.0203134270881,105.66666666666669,168.78229290278412,105.66666666666669C199.54427237848014,105.66666666666669,261.0682313298722,167.09963520291836,291.83021080556824,179C322.6764696770881,190.9329685362517,384.3689874201278,200.08207934336525,415.21524629164765,201C445.97722576734367,201.9154126766986,507.5011847187357,190.91666666666669,538.2631641944317,186.33333333333334C569.0251436701278,181.75,630.5491026215199,164.33333333333334,661.311082097216,164.33333333333334C692.0730615729119,164.33333333333334,753.5970205243041,180.83333333333334,784.359,186.33333333333334" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#1e9ff2" d="M45.734375,186.33333333333334C76.49635447569602,182.66666666666669,138.0203134270881,169.83333333333334,168.78229290278412,171.66666666666669C199.54427237848014,173.50000000000003,261.0682313298722,210.15412676698585,291.83021080556824,201C322.6764696770881,191.82079343365254,384.3689874201278,106.59461924304607,415.21524629164765,98.33333333333334C445.97722576734367,90.09461924304607,507.5011847187357,125.83333333333334,538.2631641944317,135C569.0251436701278,144.16666666666669,630.5491026215199,171.66666666666669,661.311082097216,171.66666666666669C692.0730615729119,171.66666666666669,753.5970205243041,144.16666666666669,784.359,135" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#666ee8" d="M45.734375,208.33333333333334C76.49635447569602,193.66666666666669,138.0203134270881,152.41666666666669,168.78229290278412,149.66666666666669C199.54427237848014,146.91666666666669,261.0682313298722,180.84085727314184,291.83021080556824,186.33333333333334C322.6764696770881,191.84085727314184,384.3689874201278,202.84587323301415,415.21524629164765,193.66666666666669C445.97722576734367,184.51253989968083,507.5011847187357,116.20833333333333,538.2631641944317,113C569.0251436701278,109.79166666666666,630.5491026215199,174.41666666666666,661.311082097216,168C692.0730615729119,161.58333333333334,753.5970205243041,88.25000000000001,784.359,61.666666666666686" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="45.734375" cy="230.33333333333334" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="168.78229290278412" cy="186.33333333333334" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="291.83021080556824" cy="193.66666666666669" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="415.21524629164765" cy="142.33333333333334" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="538.2631641944317" cy="142.33333333333334" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="661.311082097216" cy="186.33333333333334" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="784.359" cy="98.33333333333334" r="2" fill="#ff9149" stroke="#ff9149" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="45.734375" cy="179" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="168.78229290278412" cy="105.66666666666669" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="291.83021080556824" cy="179" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="415.21524629164765" cy="201" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="538.2631641944317" cy="186.33333333333334" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="661.311082097216" cy="164.33333333333334" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="784.359" cy="186.33333333333334" r="2" fill="#ff4961" stroke="#ff4961" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="45.734375" cy="186.33333333333334" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="168.78229290278412" cy="171.66666666666669" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="291.83021080556824" cy="201" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="415.21524629164765" cy="98.33333333333334" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="538.2631641944317" cy="135" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="661.311082097216" cy="171.66666666666669" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="784.359" cy="135" r="2" fill="#1e9ff2" stroke="#1e9ff2" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="45.734375" cy="208.33333333333334" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="168.78229290278412" cy="149.66666666666669" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="291.83021080556824" cy="186.33333333333334" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="415.21524629164765" cy="193.66666666666669" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="538.2631641944317" cy="113" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="661.311082097216" cy="168" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="784.359" cy="61.666666666666686" r="2" fill="#666ee8" stroke="#666ee8" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        </svg>
                        <div class="morris-hover morris-default-style" style="left: 119.767px; top: 115px; display: none;">
                            <div class="morris-hover-row-label">2011</div>
                            <div class="morris-hover-point" style="color: #666EE8">
                                Direct:
                                130
                            </div>
                            <div class="morris-hover-point" style="color: #1E9FF2">
                                Referrals:
                                100
                            </div>
                            <div class="morris-hover-point" style="color: #FF4961">
                                Search:
                                190
                            </div>
                            <div class="morris-hover-point" style="color: #FF9149">
                                Social:
                                80
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>

        <div class="col-lg-4 col-12">
            <!-- TO DO List -->
            <div class="box box-solid box-warning">
                <div class="box-header with-border">
                    <i class="ion ion-clipboard"></i>
                    <h4 class="box-title">Emails</h4>
                    <ul class="box-controls pull-right">
                        <!--<li><a class="box-btn-close" href="#"></a></li>
                        <li><a class="box-btn-slide" href="#"></a></li>
                        <li><a class="box-btn-fullscreen" href="#"></a></li>-->
                    </ul>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="todo-list ui-sortable">
                        <li>
                            <!-- drag handle -->
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_1" class="filled-in">
                            <label for="basic_checkbox_1" class="mb-0 h-15 ml-15"></label>
                            <!-- todo text -->
                            <span class="text-line">Nulla vitae purus</span>
                            <!-- Emphasis label -->
                            <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_2" class="filled-in">
                            <label for="basic_checkbox_2" class="mb-0 h-15 ml-15"></label>
                            <span class="text-line">Phasellus interdum</span>
                            <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_3" class="filled-in">
                            <label for="basic_checkbox_3" class="mb-0 h-15 ml-15"></label>
                            <span class="text-line">Quisque sodales</span>
                            <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_4" class="filled-in">
                            <label for="basic_checkbox_4" class="mb-0 h-15 ml-15"></label>
                            <span class="text-line">Proin nec mi porta</span>
                            <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_5" class="filled-in">
                            <label for="basic_checkbox_5" class="mb-0 h-15 ml-15"></label>
                            <span class="text-line">Maecenas scelerisque</span>
                            <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_6" class="filled-in">
                            <label for="basic_checkbox_6" class="mb-0 h-15 ml-15"></label>
                            <span class="text-line">Vivamus nec orci</span>
                            <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>

        </div>


    </div>
    <!-- /.row -->
</section>


