﻿@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model KeywestCore.SiteInfo


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "InputForm" }))
{

    <h3> LOGIN </h3>
    <div id="error-msg1" align="center">@ViewBag.LogedMessage</div> { ViewBag.LogedMessage = ""; }
    <div class="form-group">

        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text bg-danger border-danger"><i class="fas fa-user"></i></span>
            </div>

            <select name="type" id="type" class="form-control">
                <option value="1">Admin</option>
                <option value="2">Employee</option>
            </select>

        </div>

    </div>

    <div class="form-group">

        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text bg-danger border-danger"><i class="fas fa-user"></i></span>
            </div>

            @Html.TextBoxFor(m => m.LoginUser, new { @class = "form-control", @placeholder = "Username" })

        </div>

    </div>

    <div class="form-group">

        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text bg-danger border-danger"><i class="fas fa-lock-open"></i></span>
            </div>

            @Html.TextBoxFor(m => m.LoginPass, new { @class = "form-control", @type = "Password", @placeholder = "Password" })

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <div class="checkbox">

                <input type="checkbox" id="basic_checkbox_1"> Remember Me
                <!--<label for="basic_checkbox_1">Remember Me</label>-->

            </div>

        </div>

        <div class="col-6">

            <div class="fog-pwd text-right">
                <a href="javascript:void(0)"><i class="ion ion-locked"></i> Forgot Password?</a><br>
            </div>

        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-danger btn-block margin-top-10">LOGIN</button>
        </div>

    </div>
}
