﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"]</title>*@
    <title>KEYWEB+</title>
    <link rel="icon" href="~/rkScripts/images/favicon.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/bootstrap-select/dist/css/bootstrap-select.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/datatable/datatables.min.css" />
        <link rel="stylesheet" href="~/rkScripts/css/bootstrap-extend.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/font-awesome/css/all.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/font-awesome/css/font-awesome-animation.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/Ionicons/css/ionicons.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/glyphicons/glyphicon.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/animate/animate.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/nestable/nestable.css" />
        <link rel="stylesheet" href="~/rkScripts/css/master_style.css">
        <link rel="stylesheet" href="~/rkScripts/css/horizontal_menu_style.css">
        <link rel="stylesheet" href="~/rkScripts/css/skins/_all-skins.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/morris.js/morris.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/weather-icons/weather-icons.css">
        <link rel="stylesheet" href="~/rkScripts/css/responsive.css">

        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/timepicker/bootstrap-timepicker.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    <style>
        table .form-control {
            min-width: 100px;
        }
    </style>
</head>

@*@using Microsoft.AspNetCore.Http*@
<body class="skin-blue layout-top-nav">

    <div class="wrapper">

        <header class="main-header">
            <div class="inside-header">
                <div class="row">
                    <div class="col-xl-3 col-md-3 col-sm-4 col-12 ">
                        <a href="/Home/Dashboard" class="logo">
                            <b class="logo-mini"> <span class="light-logo"><img src="~/rkScripts/images/logo-black.png" alt="logo"></span> </b>
                            <span class="logo-lg"> <img src="~/rkScripts/images/logo-black.png" alt="logo" class="light-logo"> </span>
                        </a>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pro-sel">
                        <span class="project-dash-span">
                            <select>
                                <option> Project 1 </option>
                                <option> Project 2 </option>
                                <option> Project 3 </option>
                                <option> Project 4 </option>
                                <option> Project 5 </option>
                            </select>
                        </span>
                    </div>
                    <div class="col-xl-5 col-md-5 col-sm-4 col-12 padding-md-none">

                        <!-- Header Navbar -->
                        <!-- Header Navbar -->
                        <nav class="navbar navbar-static-top">
                            <!-- Sidebar toggle button-->
                            <a href="#" class="sidebar-toggle d-block d-lg-none" data-toggle="push-menu" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <ul class="navbar-nav mr-auto mt-md-0"></ul>

                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">

                                    <li class="search-box">
                                        <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="fas fa-search"></i></a>
                                        <form class="app-search" style="display: none;">
                                            <input type="text" class="form-control" placeholder="Search &amp; enter">
                                            <a class="srh-btn"><i class="fas fa-times"></i></a>
                                        </form>
                                    </li>

                                    <!-- Messages -->
                                    <li class="dropdown messages-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-envelope faa-horizontal animated"></i>
                                        </a>
                                        <ul class="dropdown-menu scale-up">
                                            <li class="header">You have 5 messages</li>
                                            <li>
                                                <ul class="menu inner-content-div">
                                                    <li>
                                                        <a href="#">
                                                            <div class="pull-left">
                                                                <img src="~/rkScripts/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
                                                            </div>
                                                            <div class="mail-contnet">
                                                                <h4>
                                                                    Lorem Ipsum
                                                                    <small><i class="fa fa-clock-o"></i> 15 mins</small>
                                                                </h4>
                                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="pull-left">
                                                                <img src="~/rkScripts/images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
                                                            </div>
                                                            <div class="mail-contnet">
                                                                <h4>
                                                                    Nullam tempor
                                                                    <small><i class="fa fa-clock-o"></i> 4 hours</small>
                                                                </h4>
                                                                <span>Curabitur facilisis erat quis metus congue viverra.</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="pull-left">
                                                                <img src="~/rkScripts/images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
                                                            </div>
                                                            <div class="mail-contnet">
                                                                <h4>
                                                                    Proin venenatis
                                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                                </h4>
                                                                <span>Vestibulum nec ligula nec quam sodales rutrum sed luctus.</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="pull-left">
                                                                <img src="~/rkScripts/images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
                                                            </div>
                                                            <div class="mail-contnet">
                                                                <h4>
                                                                    Praesent suscipit
                                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                                </h4>
                                                                <span>Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="pull-left">
                                                                <img src="~/rkScripts/images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
                                                            </div>
                                                            <div class="mail-contnet">
                                                                <h4>
                                                                    Donec tempor
                                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                                </h4>
                                                                <span>Praesent vitae tellus eget nibh lacinia pretium.</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">See all e-Mails</a></li>
                                        </ul>
                                    </li>
                                    <!-- Notifications -->
                                    <li class="dropdown notifications-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-bell faa-ring animated"></i>
                                        </a>
                                        <ul class="dropdown-menu scale-up">
                                            <li class="header">You have 7 notifications</li>
                                            <li>
                                                <ul class="menu inner-content-div">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-aqua"></i> Curabitur id eros quis nunc suscipit blandit.
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fas fa-exclamation-triangle text-yellow"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-users text-red"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-shopping-cart text-green"></i> In gravida mauris et nisi
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> Praesent eu lacus in libero dictum fermentum.
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> Nunc fringilla lorem
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-user text-red"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="footer"><a href="#">View all</a></li>
                                        </ul>
                                    </li>
                                    <!-- User Account-->
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="~/rkScripts/images/user5-128x128.jpg" class="user-image rounded-circle" alt="User Image">
                                        </a>
                                        <ul class="dropdown-menu scale-up">
                                            <li class="user-header">
                                                <img src="~/rkScripts/images/user5-128x128.jpg" class="float-left rounded-circle" alt="User Image">
                                                <p>
                                                    Key West
                                                    <small class="mb-5">keywest@gmail.com</small>
                                                    <a href="/User/UserProfile" class="btn btn-danger btn-sm btn-rounded">View Profile</a>
                                                </p>
                                            </li>
                                            <li class="user-body">
                                                <div class="row no-gutters">
                                                    <div class="col-12 text-left">
                                                        <a href="/User/EditProfile"><i class="fa fa-user"></i> Edit Profile </a>
                                                    </div>
                                                    <div class="col-12 text-left">
                                                        <a href="/User/Delegate"><i class="fas fa-user"></i> Delegate </a>
                                                    </div>
                                                    <div class="col-12 text-left">
                                                        <a href="/User/ChangePassword"><i class="fas fa-lock"></i> Change Password </a>
                                                    </div>
                                                    <div class="col-12 text-left">
                                                        <a href="/Home/LogOut"><i class="fa fa-power-off"></i> Logout</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Control Sidebar Toggle Button -->

                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </header>

        <!-- Main Navbar -->
        <div class="main-nav">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    @Html.Raw(ViewBag.SiteMenuMain)
                </div>
            </nav>
        </div>

        <!-- Main content -->
        <div class="content-wrapper" style="min-height: 482px;">

            <!-- Content Header (Page header) -->
            @Html.Raw(ViewBag.SiteBreadcrumb)

            @RenderBody()

        </div>

        <!-- Footer -->
        <footer class="main-footer text-center">
            &copy; 2020 <a href="#">KEYWEB</a>. All Rights Reserved.
        </footer>
    </div>


    <!-- Action Modals -->
    <div id="myadd" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box-alert"><i class="fas fa-plus"></i></div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to add new record?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myedit" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box-alert"><i class="fas fa-pencil-alt"></i></div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to edit these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mydelete" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box-alert"><i class="fas fa-times"></i></div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@

        <script src="~/rkScripts/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>

        <script src="~/rkScripts/assets/vendor_components/popper/dist/popper.min.js"></script>

        <script src="~/rkScripts/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/rkScripts/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

        <script src="~/rkScripts/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>

        <script src="~/rkScripts/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

        <script src="~/rkScripts/assets/vendor_components/raphael/raphael.min.js"></script>

        <script src="~/rkScripts/assets/vendor_components/morris.js/morris.min.js"></script>

        <script src="~/rkScripts/assets/vendor_components/chart.js-master/Chart.bundle.js"></script>
        <script src="~/rkScripts/assets/vendor_components/chart.js-master/utils.js"></script>
        <script src="~/rkScripts/js/widget-charts2.js"></script>
        @*<script src="~/rkScripts/js/widget-charts3.js"></script>*@

        <script src="~/rkScripts/js/WeatherIcon.js"></script>

        <script src="~/rkScripts/js/template.js"></script>

        <script src="~/rkScripts/js/dashboard.js"></script>

        <script src="~/rkScripts/js/demo.js"></script>

        <script src="~/rkScripts/js/statistic.js"></script>

        <script src="~/rkScripts/js/validation.js"></script>

        <script src="~/rkScripts/js/form-validation.js"></script>

        <script src="~/rkScripts/assets/vendor_components/datatable/datatables.min.js"></script>

        <script src="~/rkScripts/js/data-table.js"></script>

        <script src="~/rkScripts/js/horizontal-layout.js"></script>

        <script src="~/rkScripts/assets/vendor_components/nestable/jquery.nestable.js"></script>
        <script src="~/rkScripts/js/nestable.js"></script>

        <!-- bootstrap time picker -->
        <script src="~/rkScripts/assets/vendor_components/timepicker/bootstrap-timepicker.min.js"></script>
        <!-- bootstrap datepicker -->
        <script src="~/rkScripts/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    <script>
        $(document).ready(function () {
            $('.timepicker').timepicker({
                showInputs: false
            });
            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });
        });

    </script>
</body>
</html>
