﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/rkScripts/images/favicon.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="~/rkScripts/css/bootstrap-extend.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/font-awesome/css/all.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/font-awesome/css/font-awesome-animation.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/Ionicons/css/ionicons.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/glyphicons/glyphicon.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/animate/animate.css">
        <link rel="stylesheet" href="~/rkScripts/css/master_style.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/morris.js/morris.css">
        <link rel="stylesheet" href="~/rkScripts/assets/vendor_components/weather-icons/weather-icons.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    <style>
        #error-msg1 {
            color: #ff0000;
            font-weight: bold;
        }
    </style>
</head>

<body class="hold-transition bg-img" style="background-image: url(/rkScripts/images/login-bg.jpg)" data-overlay="4" cz-shortcut-listen="true">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">
            <div class="col-lg-5 col-md-8 col-12">
                <div class="content-top-agile">
                    <a href="/Home/Index"> <img src="/rkScripts/images/logo-black.png" alt=""> </a>
                </div>
                <div class="bg-white content-bottom">

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>

</body>
</html>
